<!DOCTYPE html>
<html>
	<head>
		<!-- 编码 -->
		<meta charset="UTF-8">
	 
		<!-- 头部放置的跳转代码-->
		<!--<meta http-equiv="Refresh" content="60;url=http://222.194.77.225/">-->
	 
		<!-- 关键字 -->
		<meta name="keywords" content="大学生 计算机 竞赛 IT">
	 
		<!-- 描述 -->
		<meta name="description" content="IT学科竞赛">
	 
		<!-- IE浏览器指定文件兼容性模式 X-UA-Compatible -->
		<meta http-equiv="X-UA-Compatible" content="IE=EnulateIE7"/>
		
		<!--默认href链接地址-->
		<!--<base href="http://222.194.77.225/" target="_blank">-->

		<link href="__css__/base.css" rel="stylesheet" >

		<title>IT学科竞赛</title>

	</head>

	<body>

		<div align="center">
			<a href="www.baidu.com" target="_blank" class="b">dd</a>

		</div>

		<br>
		<div align="center">
			<!--统计代码-->
			<script>
			var _hmt = _hmt || [];
			(function() {
			  var hm = document.createElement("script");
			  hm.src = "https://hm.baidu.com/hm.js?ba7054397ef399cc369ccab1835d2de0";
			  var s = document.getElementsByTagName("script")[0];
			  s.parentNode.insertBefore(hm, s);
			})();
			</script>

			<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1275311623'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s23.cnzz.com/stat.php%3Fid%3D1275311623%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>
		</div>

	</body>

	<script src="__js__/jquery-3.3.1.min.js" type="application/javascript"></script>
</html>