<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="graduate" class="site_title btn-danger">
                <i class="fa fa-flag"></i> <span>信工考研</span>
            </a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="__graduate__/img/img.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>欢迎回来,</span>
                <h2>山青院</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>数据分析</h3>
                <ul class="nav side-menu">
                    <li><a><i class="fa fa-home"></i> 选学校 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="eyy">211</a></li>
                            <li><a href="jbw">985</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-edit"></i> 录取统计 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="xg">信息管理与信息系统</a></li>
                            <li><a href="jk">计算机科学与技术</a></li>
                            <li><a href="dx">电子信息工程</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-desktop"></i> 考研链接 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="https://yz.chsi.com.cn/" target="_blank">考研报名入口</a></li>
                            <li><a href="http://www.cskaoyan.com/forum.php" target="_blank">考研论坛</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
            <div class="menu_section">
                <h3>数据纠错</h3>
                <ul class="nav side-menu">
                    <li><a><i class="fa fa-bug"></i> 留言板 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="qq">QQ群</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>
